body
{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #d7d7d7;
}

h1
{
    text-align: center;
    font-size: 36px;
    color: rgb(55, 0, 106);
    margin-top: 0;
}

p
{
    text-align: center;
    font-size: 18px;
    color: black;
    line-height: 1.5;
}

.container
{
    width: 80%;
    padding: 20px;
    background-color: #ffffff;
    margin: 0 auto;
}

@media (max-width: 768px)
{
    .container
    {
        width: 90%;
        padding: 10px;
    }

    h1
    {
        font-size: 24px;
    }

    p
    {
        font-size: 14px;
    }
}