*{
    margin: 0;
    padding: 0;
}

#hamburger{
    display: none;
}

.menu_botao{
    display: block;
    width: 30px;
    height: 25px;
    position: relative;
    margin: 30px;
}

.hamburger_style,
.hamburger_style::after,
.hamburger_style::before
{
    content: "";
    display: block;
    background-color: rgb(45, 45, 45);
    height: 3px;
    width: 100%;
    border-radius: 3px;
    position: absolute;
}

.hamburger_style::before{
    top: 8px;
}

.hamburger_style::after{
    bottom: 8px;
}

.menu_botao:hover .hamburger_style, 
.menu_botao:hover .hamburger_style::after,
.menu_botao:hover .hamburger_style::before
{
    background-color: rgb(92, 92, 92);
}

.menu{
    list-style: none;
    background-color: gray;
    position: absolute;
    left: 23px;
    width: auto;
    height: 0;
    transition: height 0.3 ease;
    overflow: hidden;
}

.menu.open{
    height: auto;
}