<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Calculadora Quântica</title>
        <script src="vue.global.js"></script>
        <link rel="stylesheet" href="Cstyle.css"/>
        <link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Secular+One&family=Silkscreen&display=swap" rel="stylesheet">
    </head>

    <body>
        <div id="app">
            <div class="calculadora">

                <h1>CALCULATOR BOY</h1>

                <div class="borda_tela">
                    <div class="tela">
                        {{display}}
                    </div>
                </div>

                <div class="configuracao_botao">
                    <div class="linha">
                        <button @click="numero('7')">7</button>
                        <button @click="numero('8')">8</button>
                        <button @click="numero('9')">9</button>
                        <button @click="operacoes('/')">/</button>
                    </div>

                    <div class="linha">
                        <button @click="numero('4')">4</button>
                        <button @click="numero('5')">5</button>
                        <button @click="numero('6')">6</button>
                        <button @click="operacoes('*')">*</button>
                    </div>

                    <div class="linha">
                        <button @click="numero('1')">1</button>
                        <button @click="numero('2')">2</button>
                        <button @click="numero('3')">3</button>
                        <button @click="operacoes('-')">-</button>
                    </div>

                    <div class="linha2">
                        <button @click="numero('0')">0</button>
                        <button @click="decimal">.</button>
                        <button @click="operacoes('+')">+</button>
                        <button @click="operacoes('=')" id="resultado">=</button>
                    </div>

                    <div class="linha">
                        <button id="on" @click="btpower(1)"></button>
                        <p id="t_on">ON</p>

                        <button id="off" @click="btpower(0)"></button>
                        <P id="t_off">OFF</P>

                        <button id="limpar" @click="btclear">C</button>
                    </div>
                </div>
            </div>

            <div class="historico">
                {{historico}}
            </div>

        </div>

        <script src="Cprocess.js"></script>

    </body>
</html>