body
{
    background-color: #d7d7d7;
    font-family: "Silkscreen";
}

.historico
{
    max-width: 20px;
    margin-left: 10px;
    margin-top: 200px;
    font-size: 20px;
}

.calculadora
{
    background-color: #c6c0b8;
    top: 50%;
    left: 50%;
    position: fixed;
    display: flex;
    border: 3px solid #000000;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    padding: 20px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 80px;
    border-bottom-left-radius: 14px;
    max-width: 330px;
    max-height: 660px;
}

h1
{
    color: #283262;
    font-family: 'Secular One';
    font-size: 30px;
    border: 2px;
}

.tela
{
    color: #14311f;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    background-color: #9bbc0f;
    width: 93%;
    height: 80px;
    border-radius: 4px;
    font-size: 3rem;
    border: 2px solid #000000;
    padding: 5px 5px;
    cursor: default;
    overflow-x: hidden;
}

.borda_tela
{
    align-self: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 8px;
    padding: 20px 20px;
    background-color: #676163;
    width: 96%;
    height: 105px;
    border: 1px solid #000000;
}

.linha
{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.linha2
{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-left: 10px;
}

.configuracao_botao
{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button
{
    font-family: "Silkscreen";
    font-size: 2rem;
    width: 70px;
    height: 70px;
    cursor: pointer;
    background-color: #e1dad2;
}

#resultado
{
    width: 75px;
    height: 75px;
    margin-left: 5px;
    background-color: #7c2f49;
    color: #ffffff;
    border-radius: 100%;
}

#limpar
{
    width: 75px;
    height: 75px;
    margin-left: 5px;
    margin-right: 40px;
    margin-top: -5px;
    background-color: #7c2f49;
    color: #ffffff;
    border-radius: 100%;
}

#on
{
    height: 20px;
    margin-top: 20px;
    margin-right: 20px;
    rotate: -45deg;
    border-radius: 40px;
    background-color: #676163;
    display: flex;
}

#off
{
    height: 20px;
    margin-top: 20px;
    margin-left: 0px;
    rotate: -45deg;
    border-radius: 40px;
    background-color: #676163;
    display: flex;
}

#t_on
{
    display: flex;
    rotate: -45deg;
    margin-left: -50px;
    margin-top: 30px;
    font-family: 'Secular One';
    font-size: 24px;
    color: #283262;
    cursor: default;
}

#t_off
{
    display: flex;
    rotate: -45deg;
    margin-left: -30px;
    margin-top: 25px;
    font-family: 'Secular One';
    font-size: 24px;
    color: #283262;
    cursor: default;
}


button:hover
{
    background-color: #d4ccc3;
}


/* Responsividade do site */
@media (max-width: 1920px) 
{
    .historico
    {
        max-width: 17px;
        margin-left: 10px;
        margin-top: 150px;
        font-size: 17px;
    }

    .calculadora
    {
        top: 50%;
        left: 50%;
        position: fixed;
        display: flex;
        font-size: rem;
        padding: 10px 20px;
        border-top-left-radius: 11px;
        border-top-right-radius: 11px;
        border-bottom-right-radius: 55px;
        border-bottom-left-radius: 11px;
        max-width: 250px;
        max-height: 490px;
        border: 2px solid #000000;
    }

    h1
    {
        font-size: 26px;
        border: 2px;
    }

    .tela
    {
        width: 93%;
        height: 34px;
        border-radius: 4px;
        font-size: 1.7rem;
    }

    .borda_tela
    {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 4px;
        padding: 10px 10px;
        width: 96%;
        height: 50px;
    }

    .linha
    {
        margin-bottom: 10px;
    }

    .linha2
    {
        margin-bottom: 10px;
        margin-left: 5px;
    }

    .configuracao_botao
    {
        margin: 10px;
    }

    button
    {
        font-size: 1.5rem;
        width: 55px;
        height: 55px;
        border: 1px solid #000000;
    }

    #resultado
    {
        width: 55px;
        height: 55px;
        margin-left: 7px;
        border-radius: 100%;
        border: 1px solid #000000;
    }

    #limpar
    {
        width: 55px;
        height: 55px;
        margin-left: 7px;
        margin-right: 20px;
        margin-top: -2px;
        border-radius: 100%;
        border: 1px solid #000000;
    }

    #on
    {
        height: 14px;
        margin-top: 10px;
        margin-right: 10px;
        rotate: -45deg;
        border-radius: 25px;
    }

    #off
    {
        height: 14px;
        margin-top: 10px;
        margin-left: 0px;
        rotate: -45deg;
        border-radius: 25px;
    }

    #t_on
    {
        rotate: -45deg;
        margin-left: -35px;
        margin-top: 15px;
        font-size: 17px;
    }

    #t_off
    {
        rotate: -45deg;
        margin-left: -25px;
        margin-top: 12px;
        font-size: 17px;
    }
}


/* Responsividade do site */
@media (max-width: 768px) 
{
    .historico
    {
        max-width: 14px;
        margin-left: 10px;
        margin-top: 150px;
        font-size: 14px;
    }

    .calculadora
    {
        top: 50%;
        left: 50%;
        position: fixed;
        display: flex;
        font-size: rem;
        padding: 10px 20px;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 40px;
        border-bottom-left-radius: 7px;
        max-width: 168px;
        max-height: 330px;
        border: 2px solid #000000;
    }

    h1
    {
        font-size: 20px;
        border: 2px;
    }

    .tela
    {
        width: 93%;
        height: 25px;
        border-radius: 4px;
        font-size: 1.2rem;
    }

    .borda_tela
    {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 4px;
        padding: 10px 10px;
        width: 96%;
        height: 40px;
    }

    .linha
    {
        margin-bottom: 5px;
    }

    .linha2
    {
        margin-bottom: 5px;
        margin-left: 5px;
    }

    .configuracao_botao
    {
        margin: 10px;
    }

    button
    {
        font-size: 1rem;
        width: 35px;
        height: 35px;
        border: 1px solid #000000;
    }

    #resultado
    {
        width: 37px;
        height: 37px;
        margin-left: 3px;
        border-radius: 100%;
        border: 1px solid #000000;
    }

    #limpar
    {
        width: 37px;
        height: 37px;
        margin-left: 5px;
        margin-right: 20px;
        margin-top: -2px;
        border-radius: 100%;
        border: 1px solid #000000;
    }

    #on
    {
        height: 10px;
        margin-top: 10px;
        margin-right: 10px;
        rotate: -45deg;
        border-radius: 20px;
    }

    #off
    {
        height: 10px;
        margin-top: 10px;
        margin-left: 0px;
        rotate: -45deg;
        border-radius: 20px;
    }

    #t_on
    {
        rotate: -45deg;
        margin-left: -25px;
        margin-top: 15px;
        font-size: 12px;
    }

    #t_off
    {
        rotate: -45deg;
        margin-left: -15px;
        margin-top: 12px;
        font-size: 12px;
    }
}