<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Página de Login</title>
        <script src="vue.global.js"></script>
        <link rel="stylesheet" href="style.css"/>
        <link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Secular+One&family=Silkscreen&display=swap" rel="stylesheet">
    </head>

    <body>
        <div id="app">
            <h2><img id="kirby" src="imagens/kirby.gif">NINTENDO</h2>
            <h1>Faça o Login</h1>

            <form>
                <p v-if="error" class="error" :class="{entrada: mostrar_entrada}">{{error}}</p>
                <p v-if="sucesso" class="sucesso" :class="{entrada: mostrar_entrada}">{{sucesso}}</p>
                <p v-if="animacao" class="animacao">{{animacao}}</p>

                <label for="username">Nome de Usuário:</label>
                <input type="text" v-model="username" required placeholder="Inserir um nome">
                <label for="password">Senha:</label>
                <input type="password" v-model="password" required placeholder="Inserir uma senha">
            </form>

            <div class="botao">
                <button type="submit" @click.prevent="login2" id="entrar">Entrar</button>
                <p v-if="user_admin">Então voce é o ADM, crie cadastros aqui!</p>
                <button v-if="user_admin" @click="pagina_cadastro">Cadastrar Usuário</button>
                <button v-if="calculadora" id="calculadora" @click="pagina_calculadora">Calculadora</button>
            </div>

        </div>

        <script src="process.js"></script>
    </body>
</html>