<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Página de Cadastro</title>
        <script src="vue.global.js"></script>
        <link rel="stylesheet" href="style.css"/>
        <link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Secular+One&family=Silkscreen&display=swap" rel="stylesheet">
    </head>

    <body>
        <div id="app">
            <h2><img id="mario" src="imagens/mario.gif"> NINTENDO</h2>
            <a href="index.html"><img class="logoff" src="imagens/image-removebg-preview.png"></a> 
            <h1>Crie um Cadastro</h1>

            <form>
                <p v-if="error" class="error" :class="{entrada:mostrar_entrada}">{{error}}</p>
                <p v-if="sucesso" class="sucesso" :class="{entrada:mostrar_entrada}">{{sucesso}}</p>
                
                <label for="usernameCad">Nome de Usuário:</label>
                <input type="text" v-model="usernameCad" required placeholder="Inserir um nome" maxlength="24">
                <label for="passwordCad">Senha:</label>
                <input type="password" v-model="passwordCad" required placeholder="Inserir uma senha" maxlength="24">
                <label for="passwordCad2">Confirmar Senha:</label>
                <input type="password" v-model="passwordCad2" required placeholder="Insira novamente a senha" maxlength="24">

                <div class="botao">
                    <button type="submit" @click.prevent="adicionar_usuario">Cadastrar</button>
                </div>

            </form>

            <div>
                <button id="b_lista" @click="ver_cadastrados">
                    {{mostrar_lista ? "Ocultar Lista" : "Mostrar Lista"}}
                </button>

                <ol v-if="mostrar_lista">
                    <li v-for="(usuario, index) in usuarios">
                        Usuário: {{usuario}}, Senha: {{senhas[index]}} 
                        <button id="b_excluir" @click="excluir_usuarios(usuario)">Excluir</button>
                    </li>
                </ol>
            </div>

        </div>

        <script src="process.js"></script>
    </body>
</html>