.error
{
    color: #d81919;
    margin-top: -35px;
    opacity: 1;
    transition: opacity 1.2s ease-in;
}

.sucesso
{
    color: #1fa139;
    margin-top: -35px;
    justify-content: flex-end;
    text-align: center;
    overflow-x: hidden;
    cursor: default;
    opacity: 1;
    transition: opacity 1.2s ease-out;
}

.animacao
{
    color: #000000;
    margin-top: -35px;
}

.entrada
{
    opacity: 0;
}

body
{
    font-family: "Silkscreen";
    background-color: rgb(194, 195, 196);
}

h1
{
    margin-bottom: 2.2vw;
    margin-bottom: 40px;
}

h2
{
    margin-top: -8px;
    font-family: 'Secular One';
    color: #bd1414;
    cursor: default;
}

#mario
{
    width: 32px;
    height: 32px;
    margin-right: -32px;
    top: 25px;
    float: left;
    animation: mover-direita 14s linear infinite;
}
@keyframes mover-direita 
{
    0% {
        transform: translateX(0); 
    }
    100% {
        transform: translateX(1530px); 
    }
}

#kirby
{
    width: 46px;
    height: 46px;
    margin-top: -11px;
    margin-right: -32px;
    float: left;
    animation: mover-direita 28s linear infinite;
    image-rendering: pixelated;
}
@keyframes mover-direita 
{
    0% {
        transform: translateX(0); 
    }
    100% {
        transform: translateX(560px); 
    }
}

.logoff
{
    width: 50px;
    height: 50px;
    float: right;
    margin-top: -25px;
    margin-left: -50px;
}

.logoff:hover
{
    opacity: 0.6;
}

#b_lista
{
    margin-top: 10px;
}

#b_excluir
{
    font-size: 0.6vw;
}

#app
{
    width: 40vw;
    margin: 0 auto;
    background-color: #c6c0b8;
    color: #283262;
    padding: 20px;
    box-shadow: 0px 0px 10px rgb(116, 116, 116);
    border-radius: 10px;
    text-align: center;
    border-bottom-right-radius: 70px;
    overflow: hidden;
}

li
{
    margin-top: 4px;
    max-width: 30vw;
    display: flex;
    justify-content: space-between;
    font-size: 1.2vw;
}

form
{
    flex-direction: column;
    display: flex;
    align-items: center;
}

label
{
    margin-bottom: 5px;
    margin-top: 15px;
    color: black;
}

input[type="text"], input[type="password"]
{
    image-rendering: pixelated;
    background-color: #9bbc0f;
    color: #14311f;
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    margin-bottom: 15px;
    border-color: #14311f;
    width: 45%;
}

::placeholder
{
    text-align: center;
    font-family: "Silkscreen";
    color: #14311fa2;
}

button
{
    padding: 5px;
    border-style: solid;
    border-radius: 5px;
    cursor: pointer;
    background-color: #7c2f49;
    color: #ffffff;
    font-family: "Silkscreen";
    font-style: bold;
}

.botao
{
    flex-direction: column;
    display: flex;
    align-items: center;
}

button:hover
{
    background-color: #913a57;
}

#calculadora
{
    margin-top: 10px;
}

#entrar
{
    margin-bottom: 10px;
}

