<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DrinkMania Cadastros</title>
        <link rel="stylesheet" href="style.css">
        <script src="vue.global.js"></script>
    </head>

    <body>
        <div id="app">
            <header>
                <nav>
                    <ul>
                        <li><a href="#home"><img id="logo" src="./midias/Logotipo.png"></a></li>
                        <li><a href="index.html"><button>Retornar ao site</button></a></li>
                        <li><a href="#cadastrados">Cadastrados</a></li>
                        <li><h1 v-if="logado">Ola {{username}}</h1></li>
                    </ul>
                </nav>
            </header>

            <section id="home">
                <button @click="ver_cadastrados">
                    {{mostrar_lista ? "Ocultar Lista" : "Mostrar Lista"}}
                </button>
            </section>

            <section class="lista" id="cadastrados">
                <ol v-if="mostrar_lista">
                    <li class="listanomes" v-for="(names, index) in names">
                        Usuário: {{names}}, Email: {{emails[index]}} 
                    </li>
                </ol>
            </section>
        </div>
        <script src="process.js"></script>

        <footer>
            <p>&copy; 2023 DrinkMania. Todos os direitos reservados</p>
        </footer>
    </body>
</html>