<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DrinkMania</title>
        <link rel="stylesheet" href="style.css">
        <script src="vue.global.js"></script>
    </head>

    <body>
        <div id="app">
            <div v-if="!tela_login">
                <header class="scrolling">
                    <nav>
                        <ul>
                            <li><a href="#home"><img id="logo" src="./midias/Logotipo.png"></a></li>
                            <li><a href="#contatos">Contatos</a></li>
                            <li><a v-if="user_admin" href="cadastrados.html"><button>Ver cadastrados</button></a></li>
                            <li><a href="#bebidas">Bebidas</a></li>
                            <li><h1 v-if="logado">Ola {{username}}</h1></li>
                            <li v-if="logado"><a href="#carrinho"><img id="cart" src="./midias/carrinho.png"></a></li>
                            <li v-if="logado"><button @click="logoff">Sair</button></li>
                        </ul>

                        <a class="posicaobotao" v-if="!logado" href="#login"><button @click="botao_login">Faça seu login</button></a>

                    </nav>
                </header>
                
                <div class="content">
                    <section id="home">
                        <h1>Bebida rapida, gelada e no precinho? O Drinkmania entrega tudo.</h1>
                    </section>

                    <section id="bebidas">
                        <ul>
                            <li v-for="product in products">
                                <a :href="'#/product/' + product.id">
                                    <img :src="product.image" :alt="product.name"><br>
                                    <span>{{product.name}}</span>
                                </a>
                            </li>
                        </ul>
                        
                        <div>
                            <h2>{{currentProduct.name}}</h2>
                            <p>{{currentProduct.description}}</p>
                            <p>Preço: R$ {{currentProduct.price}}</p>
                            
                            <p v-if="!logado">Precisa estar logado para realizar compras</p>
                            <button v-if="logado" @click="addToCart(currentProduct)">Adicionar ao Carrinho</button>
                        </div>
                    </section>

                    <section id="carrinho" v-if="logado">
                        <div v-if="cart.length > 0">
                            <h3>Carrinhos de Compras</h3>
                            
                            <ul>
                                <li v-for="item in cart">
                                    {{item.name}} - R$ {{item.price}}
                                </li>
                            </ul>
                            
                            <div>
                                <h1>Checkout</h1>
                                <i>itens no Carrinhos: {{cartItemCount}}</i>
                                
                                <div class="total">
                                    <i>Total: R$ {{cartTotal.toFixed(2)}}</i>
                                </div>
                                <button>Finalizar compra</button>
            
                                <ul>
                                    <li v-for="product in cart">
                                        <img :src="product.image" :alt="product.name">
                                        <h3>{{product.name}}</h3>
                                        <p>{{product.description}}</p>
                                        <p>Preço: R$ {{product.price}}</p>
                                        <button @click="removeFroCart(product)">Remover</button>
                                    </li>
                                </ul> 
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <div class="jao" v-if="tela_login">
                <a href="#home" @click="botao_volta_inicio"><h1>DrinkMania</h1></a>

                <div v-if="fazer_login">
                    <h2>Faça o login:</h2>

                    <form>
                        <p v-if="error" class="error" :class="{entrada: mostrar_entrada}">{{error}}</p>
                        <p v-if="sucesso" class="sucesso" :class="{entrada: mostrar_entrada}">{{sucesso}}</p>
                        <p v-if="animacao" class="animacao">{{animacao}}</p>
        
                        <label for="email">Email:</label>
                        <input type="text" v-model="user_email" required placeholder="Inserir um email">
                        <label for="password">Senha:</label>
                        <input type="password" v-model="password" required placeholder="Inserir uma senha">

                        <div class="botao">
                            <button type="submit" @click.prevent="login">Login</button>
                        </div>
                    </form>

                    <h3>É novo no DrinkMania?</h3>
                    <a href="#cadastro_de_conta"><button @click="botao_criar_conta">Crie sua Conta aqui</button></a>
                </div>

                <div v-if="criar_conta">
                    <h2>Crie sua conta:</h2>

                    <form>
                        <p v-if="error" class="error" :class="{entrada: mostrar_entrada}">{{error}}</p>
                        <p v-if="sucesso" class="sucesso" :class="{entrada: mostrar_entrada}">{{sucesso}}</p>
                        <p v-if="animacao" class="animacao">{{animacao}}</p>
        
                        <label for="usernameCad">Nome de Usuário:</label>
                        <input type="text" v-model="usernameCad" required placeholder="Inserir um nome" maxlength="24">
                        <label for="email">Email:</label>
                        <input type="text" v-model="emailCad" required placeholder="Inserir um email">
                        <label for="passwordCad">Senha:</label>
                        <input type="password" v-model="passwordCad" required placeholder="Inserir uma senha" maxlength="24">
                        <label for="passwordCad2">Confirmar Senha:</label>
                        <input type="password" v-model="passwordCad2" required placeholder="Insira novamente a senha" maxlength="24">

                        <div class="botao">
                            <button type="submit" @click.prevent="criarConta">Cadastrar</button>
                        </div>
                    </form>

                    <h3>Já faz parte do DrinkMania?</h3>
                    <a href="#login"><button @click="botao_login">Fazer login</button></a>
                </div>
            </div>
        </div>

        <footer>
            <p>&copy; 2023 DrinkMania. Todos os direitos reservados</p>
        </footer>

        <script src="process.js"></script>
    </body>
</html>