body{
    background-color: rgb(238,238,238);
    font-family: Arial, sans-serif;
}

.scrolling{
    background: linear-gradient(rgb(250,255,0,100%),rgb(240,245,0,100%),rgb(250,255,0,100%),rgb(255,138,0,100%)); ;
    padding: 20px;
    width: 100%;
    height: 15%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.content{
    margin-top: 170px;
}

#logo{
    height: 120px;
    width: auto;
}

#cart{
    height: 60px;
    width: auto;
}

ul
{
    list-style: none;
    padding: 0%;
    display: flex;
    flex-wrap: wrap;
}

li{
    list-style-type: none;
}

.posicaobotao{
    position: absolute;
    right: 10%;
    top: 50px;
    
}

.jao{
    background-color: rgb(250, 230, 10);
    padding: 40px;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 10px 10px 10px rgb(246, 101, 4);
    border-radius: 18px;
    text-align: center;
}

.error{
    color: red;
    margin-top: 10px;
    opacity:1;
    transition: opacity 0.5s ease-in;
}

.sucesso{
    color: rgb(19, 232, 19);
    margin-top: 10px;
    opacity: 1;
    transition:opacity 0.5s ease-in;
}

#app{
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

form{
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 20px;
    border-radius: 30px;
}

input[type="text"], input[type="password"]
{
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    margin-bottom: 15px;
    border-color: #14311f;
    width: 60%;
}

.lista{
    background-color: rgb(217, 255, 0);
    margin-top: 10px;
    border:2px solid rgb(217,255,0 );
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-style: solid;
    padding-left: 10px;
    margin-left: 0px;
    border-radius: 10px;
  
}

ol{
    margin-top: 10px;
    

}

.listanomes{
    border-style: solid;
    display: flex;
    border-color: chocolate;
    justify-content: space-between;
    border-radius: 8px;
    margin-left: 0px;
    padding-left: 10px;
    align-items: center;
    margin-bottom: 5px;
}

footer{
    background-color: #333;
    color: white;
    padding: 1px;
    text-align: center;
}








