body
{
    background-color: rgba(244, 244, 244, 1);
    font-family: arial, sans-serif;
}

h1
{
    text-align: center;
    margin-top: 2%;
}

ul
{
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

li
{
    margin: 7%;
}

a
{
    display: block;
    text-align: center;
    background-color: gray;
    padding: 10px 15px;
    border-radius: 7px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    color: #fff ;
}

a:hover
{
    background-color: rgb(203, 92, 255);
}

.instagram
{
    display: block;
    border: 1.4px solid rgba(39, 39, 39, 0.822);;
    background-image: linear-gradient(45deg, rgba(64, 93, 230, 0.8), rgba(131, 58, 180, 0.8), rgba(225, 48, 108, 0.8), rgba(252, 175, 69, 0.8));
}
.instagram:hover
{
    background-image: linear-gradient(45deg, rgba(64, 93, 230, 1), rgba(131, 58, 180, 1), rgba(225, 48, 108, 1), rgba(252, 175, 69, 1));
    margin: -5%;
}

.facebook
{
    border: 1.4px solid rgba(39, 39, 39, 0.822);;
    background-color: rgba(34, 86, 196, 0.8);
}
.facebook:hover
{
    background-color: rgba(34, 86, 196, 1);
    margin: -5%;
}

.twitter
{
    border: 1.4px solid rgba(39, 39, 39, 0.822);
    background-color: rgba(0, 172, 238, 0.8);
}
.twitter:hover
{
    background-color: rgba(0, 172, 238, 1);
    margin: -5%;

    background-image: url('https://t.ctcdn.com.br/_pO9rE3KYs3V-ODpJsxRFcZ67lI=/400x400/smart/filters:format(webp)/i489929.jpeg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 40% 40%;
}

