/*Definição @media (max-width: 768px)

@media (max-width: 768px) é uma regra de mídia em CSS que especifica um conjunto de estilos para serem aplicados em dispositivos com uma largura máxima de 768 pixels.

Essa regra de mídia é usada para tornar o site responsivo, adaptando o layout e o estilo para diferentes tamanhos de tela. Quando a largura da tela é menor que 768 pixels, a regra @media é acionada, permitindo que os estilos definidos dentro dela sejam aplicados aos elementos selecionados.

Isso é útil para tornar o site mais legível e fácil de usar em dispositivos móveis, como smartphones e tablets, onde a tela é geralmente menor. Ao ajustar o layout e o estilo para se adequar a telas menores, o conteúdo do site pode ser exibido de forma mais clara e organizada, proporcionando uma melhor experiência do usuário.*/

/* Este arquivo CSS define estilos para o elemento body, h1, p e a classe .container. */

body {
  /* O comando margin: 0; define que a margem externa do body deve ser 0, ou seja, nenhum espaço deve ser adicionado ao redor do elemento. */
  margin: 0;

  /* O comando padding: 0; define que o preenchimento interno do body deve ser 0, ou seja, nenhum espaço deve ser adicionado dentro do elemento. */
  padding: 0;

  /* O comando font-family: Arial, sans-serif; define que a fonte a ser utilizada no body é "Arial" ou outra fonte sans-serif genérica. */
  font-family: Arial, sans-serif;

  /* O comando background-color: #f2f2f2; define a cor de fundo do body como cinza claro. */
  background-color: #f2f2f2;
}

h1 {
  /* O comando font-size: 36px; define o tamanho da fonte do h1 como 36 pixels. */
  font-size: 36px;

  /* O comando color: rgb(rgb(88, 86, 86)); define a cor do texto do h1 como uma tonalidade de cinza. */
  color: rgb(rgb(88, 86, 86));

  /* O comando margin-top: 0; define que não deve haver margem superior no h1. */
  margin-top: 0;
}

p {
  /* O comando font-size: 18px; define o tamanho da fonte do p como 18 pixels. */
  font-size: 18px;

  /* O comando line-height: 1.5; define o espaçamento entre as linhas do texto do p como 1,5 vezes a altura da fonte. */
  line-height: 1.5;

  /* O comando color: rgb(78, 71, 144); define a cor do texto do p como uma tonalidade de azul. */
  color: rgb(78, 71, 144);
}

.container {
  /* O comando width: 80%; define que a largura da .container deve ser 80% da largura do elemento pai. */
  width: 80%;

  /* O comando margin: 0 auto; define que a margem esquerda e direita da .container deve ser automática, o que faz com que o elemento seja centralizado horizontalmente. */
  margin: 0 auto;

  /* O comando background-color: rgb(222, 221, 232); define a cor de fundo da .container como uma tonalidade de cinza claro. */
  background-color: rgb(222, 221, 232);

  /* O comando padding: 20px; define o preenchimento interno da .container como 20 pixels. */
  padding: 20px;
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {

    /* Dentro da media query @media (max-width: 768px), os estilos são modificados para dispositivos móveis. A largura da .container é reduzida para 90%, o preenchimento interno é reduzido para 10 pixels e o tamanho da fonte do h1 e p é reduzido para 24 e 16 pixels, respectivamente. */

  .container {
    width: 90%;
    padding: 10px;
  }

  h1 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
  }
}