<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Loja de Calçados</title>
        <script src="vue.global.js"></script>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <div id="app">
            <h1>Loja de Calçados Inimigos da Moda</h1>
            <ul>
                <li v-for="product in products">
                    <a :href="'#/product/' + product.id">
                        <img :src="product.image" :alt="product.name"><br>
                        <span>{{product.name}}</span>
                    </a>
                </li>
            </ul>

            <div>
                <h2>{{currentProduct.name}}</h2>
                <p>{{currentProduct.description}}</p>
                <p>Preço: R$ {{currentProduct.price}}</p>
                <button @click="addToCart(currentProduct)">Adicionar ao Carrinho</button>
            </div>

            <div v-if="cart.length > 0">
                <h3>Carrinhos de Compras</h3>
                
                <ul>
                    <li v-for="item in cart">
                        {{item.name}} - R$ {{item.price}}
                    </li>
                </ul>
                
                <div>
                    <h1>Checkout</h1>
                    <i>itens no Carrinhos: {{cartItemCount}}</i>
                    
                    <div class="total">
                        <i>Total: R$ {{cartTotal.toFixed(2)}}</i>
                    </div>

                    <ul>
                        <li v-for="product in cart">
                            <img :src="product.image" :alt="product.name">
                            <h3>{{product.name}}</h3>
                            <p>{{product.description}}</p>
                            <p>Preço: R$ {{product.price}}</p>
                            <button @click="removeFroCart(product)">Remover</button>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <script src="process.js"></script>
    </body>
</html>