img{
    width: 150px; 
    height: 150px; 
    border: 2px solid rgb(83, 83, 83);
    padding: 5px;
    background-color: rgb(125, 125, 125);
    transition: transform 0.2s;
    border-radius: 10px;
}
img:hover
{
    transform: scale(1.05);
} 

body
{
    font-family: arial, sans-serif;
    padding: 20px;
}

ul
{
    list-style: none;
    padding: 0%;
    display: flex;
    flex-wrap: wrap;
}

li
{
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
}

a
{
    color: rgb(47, 47, 96);
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
}

button
{
    background-color: rgb(53, 53, 72);
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    padding: 5px 10px;
}
button:hover
{
    background-color: rgb(80, 80, 99);
}

.total
{
    color: rgb(20, 167, 20);
}
